{% extends "base/base.blade.html" %} 
{% block content %}
<div class="center-horizontally title-pos">
  <div>
  <i class="fas fa-crown flip" style="font-size: 60px; color: goldenrod;" alt="" /></i>
<a
    href="index.html"
    class="title-text black-background border-gradient padding10 margin15">
    DoKM
  </a>
    <i class="fas fa-crown flip" style="font-size: 60px; color: goldenrod;" alt="" />
  </i>
  </div>
</div>

<div class="animated fadeIn center-horizontally links-pos">
  
    <div class="black-background gold-border width-auto center-horizontally links-spacer"> [ 
      <a href="https://github.com/DoKM/">Github</a> - 
      <a href="https://steamcommunity.com/id/DoKM91AS">Steam Account</a> - 
      <a href="https://www.youtube.com/channel/UCSDlhv2eF5KTvSsu1_yoLJA">Youtube</a> ] 
    </div>
  
    <div class="black-background gold-border width-auto center-horizontally links-spacer"> [ 
      <a href="https://twitter.com/_DoKM_">Twitter</a>
       - 
      <a href="https://www.twitch.tv/dokm91as">Twitch</a>
       ] 
    </div>
  </div>

  <div class="width-auto center-horizontally">
    <div id="marquee">
      <div class="js-marquee-wrapper">
        <div class="js-marquee width-auto">
          <a href="https://www.youtube.com/channel/UCSDlhv2eF5KTvSsu1_yoLJA">
            <div class="black-background gold-border">
               [ Crew-Crew - DoKM ] 
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
